/* Reset some default styles */
body, h1, h2 {
	margin: 0;
	padding: 0;
  }
  
  /* Styling for the blue bar */
  .blue-bar {
	background-color: rgba(255, 255, 255, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	height: 50px;
  }
  
  .arrow {
	width: 20px;
	height: 20px;
	background-color: rgba(255, 255, 255, 0);
	margin-right: 10px;
	margin-left: 10px;
  }
  
  h1 {
	font-family: "Arial", sans-serif;
	font-size: 18px;
  }
  
  /* Styling for the cards */
  .container {
	display: flex;
	justify-content: center;
	margin-top: 50px;
  }
  
  .card {
	border: 1px solid black;
	background-color: white;
	border-radius: 5px;
	width: 200px;
	padding: 10px;
	text-align: center;
	margin: 0 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s;
  }
  
  .card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 5px;
  }
  
  .card h2 {
	font-family: "Arial", sans-serif;
	font-size: 16px;
	margin-top: 10px;
	color: black;
  }
  
  body {
	background-image: url("../assets/bg-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
  }
  