body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: black;
  scroll-behavior: smooth;
}

.dark-mode {
  background-color: #000;
  color: #f2f2f2;
}

.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .section {
  background-color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.95rem;
  background-color: #2e2e2e;
  color: #f2f2f2;
  position: fixed;
  width: 100%;
  font-size: 1.2em;
  z-index: 1;
}

.nav-items {
  display: flex;
  gap: 1rem;
}

.navbar a, .navbar .logo {
  color: #f2f2f2;
  text-decoration: none;
}

.navbar a:hover {
  color: #ddd;
}

.navbar .logo {
  width: 100px;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
  padding-top: 95px;
  background-size: cover;
}

.section .content {
  width: 50%;
}

.section h1 {
  font-size: 3em;
}

.section p {
  font-size: 1.5em;
}

.section-image {
  width: 300px;
  height: 200px;
}

.download-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #ffffff;
  color: #f2f2f2;
  cursor: pointer;
}

.download-button:hover {
  background-color: #0052cc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    padding: 0.5rem 1rem;
  }

  .navbar .logo {
    margin-bottom: 0.5rem;
  }

  .nav-items {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .section {
    flex-direction: column;
    padding-top: 150px;
  }

  .section .content, .section-image {
    width: 100%;
    text-align: center;
  }

  .section-image {
    margin-top: 2rem;
  }
}

.navbar .menu-icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-items {
    display: none;
  }

  .nav-items.show {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: #333;
  }
}
