body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: black;
    scroll-behavior: smooth;
  }
  
  .dark-mode {
    background-color: #1a73e8;
    color: #f2f2f2;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #1a73e8;
    color: #f2f2f2;
  }
  
  .navbar a, .navbar .logo {
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .navbar a:hover {
    color: #ddd;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Force section to take up full viewport height */
    padding: 20px;
    background-color: white;
  }
  
  .section h1, .section p {
    text-align: center;
  }
  
  .section-image {
    width: 300px; /* Fixed image width */
    height: 200px; /* Fixed image height */
    object-fit: cover; /* This will make the image cover the area without distortion */
  }
  
  .download-button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #1a73e8;
    color: #f2f2f2;
    cursor: pointer;
  }
  
  .download-button:hover {
    background-color: #0052cc;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1a73e8;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  @media screen and (max-width: 600px) {
    .navbar {
      flex-direction: column;
    }
  }
  